div{
    margin: 0px;
}
body{
    font-family: Monospace;
    background-color: #000;
    color: #fff;
    margin: 0px;
    overflow: hidden;
}
.head_info{
    font-size: 20px;
    color: #fff;
    position: absolute;
    top: 10px;
    width: 100%;
    text-align: center;
}